@font-face {
    font-family: 'RobotoBold';
    src: url('/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf');
}

.outerHeader {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    display: flex;
    overflow: hidden;
}


/*

Full desktop view is default, smaller screen sizes are adapted to in
intervals of 200px starting at screen < 1100px, using media queries

*/

.headerLeft {
    width: 50vw;
}

.headerRight {
    position: absolute;
    right: 10px;
    display: flex;
}


.avatar {
    border-radius: 50%;
}

.avatarRegulator {
    margin-top: 8px;
    width: 38px !important;
    height: 38px !important;
    position: relative;
    margin-right: 10px;
}

.usernameDisplay {
    line-height: 47px;
    font-size: 22px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.navigation {
    display: flex;
    margin-right: calc(10vw - 50px);
}

.navB {
    margin-left: 25px;
    font-size: 20px;
    margin-top: 12px;
    padding-top: 6px;
    cursor: pointer;
    border-bottom: 10px;
    font-family: 'Helvetica';
}

.navB:not([class^="Header_boldButton"]):hover {
    text-decoration: underline 2px solid white;
}

.boldButton {
    border-radius: 13px;
    padding: 6px 16px 6px 16px;
    background-color: #3266f5;
    font-weight: bolder;
}





.identification {
    height: 50px;
    display: flex;
    position: relative;
    cursor: pointer;
}

.identification:hover .dropdownContent {
    display: block;
}

.dropdownContent {
    position: absolute;
    display: none;
    left: 0;
    top: 50px;
    z-index: 1;
    background-color: #282828;
    width: 100%;
    padding: 2px;
    border-radius: 4px;
}

.dropdownContent > div {
    font-size: 23px;
    padding: 10px 0 10px 6px;
    transition-duration: 400ms;
    height: 55px;
}

.dropdownContent > div:hover {
    background-color: #464545;
    font-size: 24px;
}
